.body_menu{
    overflow-x: hidden;

	/* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
    background-image: url('../img/1633561109_10-p-domik-v-pole-foto-10.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
  
  
}
.body_menu_1{

	position: relative;
    top: 23rem;
   
}

.class_link{
    position: relative;
    left: 13rem;
    top: 2rem;
}
.class_link svg{
    width: 100px;
    height: 3vh;
    background: #613ea1;
    color: aliceblue;
    border-radius: 15px;

}
.class_b:hover svg{
    background: #985fe4;
    color: aliceblue;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    align-items: center;
    position: relative;
    text-align: center;
    
  
}
.igon_section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    gap: 5rem;
}
.igon_section svg{
    width: 40px;
    height: 40px;

}
svg:hover {
    color: blue;
    transition: 0.4s;
}
.hexagon {
    height: 290px;
    width: 290px;
    /* position:relative; */
    box-sizing: border-box;
    text-align: center;
    align-items:center;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #5c4fd133;
  background: linear-gradient(90deg, rgba(129, 230, 217, 0.863) 0%, rgba(79, 209, 196, 0.918) 50%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    
  }
  .hexagon {
    text-align: center;
    align-items: center;
  }



  .hexagon::before, .hexagon::after {
    content:"";
    position: absolute;
    height: 0;
    width: 0; 
    top:0;
    /* half height */
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent; 
  }

  .hexagon::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
.hexagon:hover, :focus{
    color: #313133;
    transform: translateY(-40px);
}
.hexagon:hover, :focus::before{
    opacity: 1;
}
.hexagon:after{
    content: '';
    width: 50px; height: 50px;
    border-radius: 50%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}
.hexagon:hover::after, :focus::after{
    animation: none;
    display: none;
}
@keyframes ring {
    0% {
      width: 100px;
      height: 100px;
      opacity: 1;
    }
    100% {
      width: 400px;
      height: 400px;
      opacity: 0;
    }
  }
  .hexagon a{
    position: relative;
    text-align: center;
    align-items: center;
    top: 5rem;
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;

  }
  /* 1 */
.border_1 {
    background-color: rgba(0, 0, 0, 0.815);
    padding: 15rem 3rem;
    border-radius: 15px;
    box-shadow: 5px 20px 50px #000; 
    color: aliceblue;
    text-align: center;
    align-items: center;
    font-size: 25px;
}
.border_1:hover  {
    background-color: rgba(223, 130, 8, 0.795);
    transition: 0.4s;
}

.border_1 {
    text-decoration: none;
}
/* 2 */
.border_2 {
    background-color: rgba(0, 0, 0, 0.815);
    padding: 15rem 6rem;
    border-radius: 50%  ;
    box-shadow: 5px 20px 50px #000; 
    color: aliceblue;
    text-align: center;
    align-items: center;
    font-size: 25px;
}
.border_2:hover  {
    background-color: rgba(223, 130, 8, 0.795);
    transition: 0.4s;
}
.border_2 {
    text-decoration: none;
}
/* 3 */
.border_3 {
    background-color: rgba(0, 0, 0, 0.815);
    padding: 15rem 3rem;
    border-radius: 15px;
    box-shadow: 5px 20px 50px #000; 
    color: aliceblue;
    text-align: center;
    align-items: center;
    font-size: 25px;
}
.border_3:hover  {
    background-color: rgba(5, 83, 59, 0.795);
    transition: 0.4s;
}
.border_3 {
    text-decoration: none;
}

@media (min-width: 320px) and (max-width: 1440px ){


.body_menu{
    width: 100%;
    height: 150vh;
}
.menu{
    display: flex;
    justify-content:center;
    flex-direction: column;

}
.class_link{
    position: relative;
    left: 5rem;
    top: 2rem;
}

.body_menu_1{
    top: 5rem;
}

}

